// Color palette
$color-lead: #0C120C;
$color-lead-hover: #1D231D;
$color-secondary: #C20114;
$color-secondary-hover: #D31225;
$color-accent-first: #6D7275;
$color-accent-second: #C7D6D5;
$color-accent-third: #ECEBF3;

///////////////////////

$animation-cubic: cubic-bezier(0.240, 0.465, 0.450, 0.950) both;