@import '../../styles/main.scss';

.menu-bar-buttons {
    text-align: right;
    flex: 40%;
}

.menu-bar-connection-info {
    text-align: left;
    font-weight: bold;
    flex: 40%;
}

.menu-bar-container {
    position: sticky;
    box-shadow: 1px 3px 21px -5px $color-lead;
    background-color: $color-accent-third;
    top: 0;
    z-index:10;
    padding: 10px 10px 10px 10px;
    text-align: right;
    display: flex;
}

.menu-bar-page-title {
    @include vertical-align;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    flex: 20%;
}