@import '../../../styles/main.scss';

.news-container {
    text-align: center;
    user-select: none;

    margin: {
        top: 2%;
        left: 15%;
        right: 15%;
    }
}

h1 {
    user-select: none;
    text-align: center;
    font-weight: 400;
}

.news-item-date {
    margin: {
        top: 2%;
        bottom: 2%;
    }
}

.news-item-images {
    margin: {
        top: 4%;
        bottom: 4%;
    }
}

.multiline-text-field {
    text-align: center;
    margin: {
        left: 10%;
        right: 10%;
    }
}

.edit-button-container {
    margin-top: 2%;
}

.news-item-container {
    @include default-text;
    box-shadow: -2px 7px 32px -15px $color-lead;
    font-weight: 300;
    background-color: $color-accent-third;
    position: relative;
    // border: 1px solid $color-lead;
    padding: 10px 10px 10px 10px;
    margin: {
        top: 2%;
        bottom: 2%;
    }
}

.remove-button {
    cursor: pointer;
    color: $color-accent-third;
    padding: 5px 5px 5px 5px;
    background-color: $color-secondary;
    transition: background-color 0.2s;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-button:hover {
    color: $color-accent-first;
    background-color: $color-secondary-hover;
}